.container {
  padding: 10px;
}
.card {
  width: 100%;
  margin-bottom: 10px;

  .gui {
    position: static;
    :global .cr {
      input {
        width: 25% !important;
        text-align: center;
      }
    }
  }

  :global .ant-card-head {
    background-color: #fafafa;
  }
  :global .ant-card-body {
    display: flex;
    justify-content: space-between;
  }
}